<h1><%= @user.email %></h1>
<h2>Created Events</h2>
<div>
  <ul>
    <% @user.created_events.each do |event| %>
      <li><%= link_to event.title, event %></li>
    <% end %>
  </ul>
</div>

<h2>Events you are attending</h2>
<div>
  <h2>All Upcoming Events</h2>
  <ul>
    <% @user.attendances.upcoming_events.each do |attendance| %>
      <li><%= link_to attendance.attended_event.title, attendance.attended_event %> | 
          <%= link_to "Cancel Attendance", attendance_path(attendance),  method: :delete, data: {
              turbo_method: :delete,
              turbo_confirm: "Are you sure you no longer wish to attend this event?"
            } %></li>
    <% end %>
  </ul>
</div><br>

<div>
  <h2>All Upcoming Events</h2>
  <ul>
    <% @user.attendances.past_events.each do |attendance| %>
      <li><%= link_to attendance.attended_event.title, attendance.attended_event %>
    <% end %>
  </ul>
</div><br>


