<%= form_with model: @event do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: "Event Title" %>
  </div>

  <div>
    <%= f.label :date %>
    <%= f.date_field :date %>
  </div>

  <div>
    <%= f.label :time %>
    <%= f.time_field :time %>
  </div>
  
  <%= f.submit %>

<% end %>