<h1><%= @event.title %></h1>

<p>Event hosted by: <%= link_to @event.creator.email , user_path(@event.creator) %></p>

<p>Date: <%= @event.date %></p>

<p>Time: <%= @event.time %></p>

<%= button_to "Attend Event", attendances_path, params: { "attendances" => { attended_event_id: @event } } %>
